.simple-text.logo-normal {
    text-align: center;
}

.sidebar .sidebar-wrapper {
    overflow-x: hidden;
}

.card-category {
    text-transform: none;
}

#message-form .card.card-plain .card-body {
    padding: 15px 15px 10px;
}

#message-form .card hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-user .card-body {
    min-height: auto;
}